.box-row{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}
.box-row-reverse{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid red;
}
.box-wrap-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid red;
}
.box-column{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 100px;
}
.box-column-reverse{
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid red;
    height: 100px;
}
.box-wrap-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid red;
    height: 75px;
}
.box-flex {
    display: flex;
    border: 1px solid red;
}
.box-align-itens{
    display : flex;
    border: 1px solid red;
    flex-direction: row;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.box-justify-content-evenly{
    display : flex;
    border: 1px solid red;
    flex-direction: row;
    justify-content: space-evenly;
}
.box-justify-content-around{
    display : flex;
    border: 1px solid red;
    flex-direction: row;
    justify-content: space-around;
}
.box-justify-content-between{
    display : flex;
    border: 1px solid red;
    flex-direction: row;
    justify-content: space-between;
}
.item{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item-one{
    flex: 1;
    border: 1px solid black;
}
.item-two{
    flex: 2;
    border: 1px solid black;
}
.item-three{
    flex: 3;
    border: 1px solid black;
}
